<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>update page</title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	
</head>
<body bgcolor="D7D4DF";>
	<div class="admintitle" align="center">
		<h3><a href="{% url 'index' %}" style="float: right; margin-right: 30px; color: #fff; font-size: 20px;">Home</a></h3>
		<h3><a href="{% url 'dashboard' %}" style="float: left; margin-right: 30px; color: #fff; font-size: 20px;">Dashboard</a></h3>
		<h1>Welcome to Dashboard - Update Data</h1>
	</div>
		<table align="center" style="margin-top: 5px;">
			<form method="post">
				{% csrf_token %}
				<tr>
					<th>Select Standard</th>
					<td>
					<!-- <select name="std">
						<option value="1st">None</option>
						{% for i in obj %}
						<option value="1st">{{ i.standard }}</option>
						{% endfor %}
					</select> -->

					<select name="std">
						<option value="1st">1st</option>
						<option value="2nd">2nd</option>
						<option value="3rd">3rd</option>
						<option value="4th">4th</option>
						<option value="5th">5th</option>
						<option value="6th">6th</option>
						<option value="7th">7th</option>
						<option value="8th">8th</option>
						<option value="9th">9th</option>
						<option value="10th">10th</option>
						<option value="11th">11th</option>
						<option value="12th">12th</option>
						<option value="Diploma">Diploma</option>
						<option value="Graduate">Graduate</option>
						<option value="Post Graduate">Post Graduate</option>
						<option value="PhD">PhD</option>
						<option value="Others">Others</option>
					</select>

					</td>
				
					<th>Enter Student Name</th>
					<td><input type="text" name="stdname" placeholder="Enter Student Name" required="required"></td>

					<td colspan="2"><input type="submit" name="submit" value="Search"></td>
				</tr>
			</form>
		</table>

		<table align="center" width="80%" border="2" style="margin-top: 10px;">
			<tr style="background-color: #000; color: #fff;">
				<th>No</th>
				<th>Image</th>
				<th>Full Name</th>
				<th>Roll No</th>
				<th>Edit</th>
			</tr>
		</table>

<!-- {% if data %} -->
	<!-- {% if user.is_authenticated %} -->
	{% for s,i in data %}
		<table align="center" width="80%" border="1" style="margin-top: 10px;">
			<tr>

				<!-- <td align="center">{{data.image}}</td> -->
				<td align="center">{{ s }}</td>
				<td rowspan="5"><img src="{{ i.image.url }}" style="max-height: 120px; max-width: 70px; padding-left: 10px;"></td>
				<td align="center">{{i.name}}</td>
				<td align="center">{{i.roll}}</td>
				<td align="center"><a href="{% url 'insert' %}">Edit</a></td>
			</tr>
		</table>
		{% endfor %}
	<!-- {% endif %} -->
<!-- {% endif %} -->

  <footer class="footer">
    <div class="container-text-center-update" align="center">
      <div class="footermenu" align="left" style="padding-left: 100px;"><a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about' %}" style="padding-left: 100px;">About</a>
        <a href="{% url 'login' %}" style="padding-left: 100px;">Login</a>
        <p align="right" style="margin-right: 150px; margin-top: -60px;">Student Management System</p>
      </div>

      <div class="footermenu" align="left" style="padding-left: 100px;"><a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'feedback' %}" style="padding-left: 88px;">Feedback</a>
        <a href="{% url 'index' %}" style="padding-left: 78px;">SMS</a>
        <p align="right" style="margin-right: 70px; margin-top: -60px;">&copy; Prem Kumar {% now "Y" %}. All rights reserved.</p>
      </div>

      <!-- <p>&copy; Prem Kumar {% now "Y" %}</p> -->
    </div>
  </footer>
</body>
</html>